<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>投票アプリ</title>
  </head>
  <body>
    <div class="container">
      <br>            
      <H1>投票ページ</H1>
      
      <div id="sort">
	<div class="row">
	  <div class="card col-12 col-sm-12">
	    <ul class="list-group list-group-flush">	      
	      <draggable :list="memberList"
			 :options="{animation: 100, handle:'.handle'}">
		<li class="list-group-item mywhite" draggable="ture"
		    v-for="member, index in memberList" :key="member.no">
		  <img :src="member.img" class="img-circle img-responsive">
		  <font size="7" class="fposition"><b>{{member.name}}</b></font>
		  <a class="secondary-content handle">
		    <i class="material-icons position">dehaze</i>
		    <i class="material-icons position" v-on:click="deleteMember(member, index)">delete</i>
		  </a>
		</li>
	      </draggable>
	    </ul>
	  </div>
	</div>
	
	<br>
	<br>
	<div class="row">
	  <div class="card col-12 col-sm-12">
	    <ul class="list-group list-group-flush">
	      <li class="list-group-item mygrey" draggable="ture"
		  v-for="dList, index in deleteList" :key="dList.no">
		<img :src="dList.img" class="img-circle img-responsive mygrey">
		<font size="7" class="fposition"><b>{{dList.name}}</b></font>
		<a class="secondary-content handle">
		  <i class="material-icons position" v-on:click="undoMember(dList, index)">undo</i>
		</a>
	      </li>
	    </ul>
	  </div>
	</div>
	
	<br>
	<p class="text-right">
	  <button class="btn bposition btn-primary col-4 col-sm-4" type="submit" v-on:click="test">送信 
	  </button>
	</br></br>
	</p>
	<p>{{ message }}</p>
	
	<div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<h1 class="modal-title">投票ページについて</h1>
	      </div>
	      <div class="modal-body modalfont">
		~並べ替え~</br>
		<p><i class="material-icons">dehaze</i>マークをドラッグすると選手を並べ替えることができます。上手だと思う選手が上位にくるように並べ替えてください。</p></br>
		~削除~</br>
		<p><i class="material-icons">delete</i>マークをクリックすると選手を削除することができます。投票したくない選手は必ず削除してください。</p></br>
		~復元~</br>
		<p><i class="material-icons">undo</i>マークをクリックすると削除した選手を元に戻すことができます。選手を間違えて削除してしまった場合に使用してください。</p>
		
		　　　　　　　　</div>
	      <div class="modal-footer">
		<div class="container-fluid">
		  <div class="row justify-content-center">
		    <button v-on:click="deleteDummy" type="button" class="btn bposition btn-primary col-6" data-dismiss="modal">閉じる</button>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	
	
      </div>
      
      <link href="/font/css/open-iconic-bootstrap.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="css/index.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <script src="js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script>
      <script src="js/volley.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>
      
  </body>
  </div>
</html>
