img.mygrey {
-webkit-filter: grayscale(1); /* Webkit */
filter: gray; /* IE6-9 */
filter: grayscale(1); /* W3C */
}


li.mygrey {
     background-color: #bbbbbb;
}

li.white {
     background-color: #ffffff;
}

.img-circle {
    border-radius: 50%;
}

.img-responsive {
    width: 200px;
    height: 200px;
}

i.position {
    font-size: 50px;
    float: right;
    line-height: 4;
    padding: 12px;
}

button.bposition {
    font-size: 50px;   
    padding: 12px;
}

i.bposition {
    font-size: 60px;
    padding: 12px;
}

.modalfont {
    font-size: 40px;
}

.fposition {
    line-height: 5;
    padding: 50px;
}
